body{
    background-color: rgb(126, 126, 163);
}
.card{
    height: 600px;
    width: 450px;
    border: 1px solid black;
    margin-top: 130px;
    border-radius: 20px;
    background-color: white;
}