/* html,body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: red;
    height: 400px;
    width: 400px;
} */

@media screen and (min-width:200px) and (max-width: 500px) {
    .container{
        background-color: skyblue;
        height: 150px;
        width: 150px;
    }
}

.parent{
    height: 40%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around
}
.child{
    height: 10%;
    width: 10%;
    border: 1px solid red;
    color: black;
}
.child-1{
    background-color: orange;
}
.child-2{
    background-color: green;
}
.child-3{
    background-color: blue;
}
.child-4{
    background-color: purple;
}
.child-5{
    background-color: yellow;
}
.child-6{
    background-color: skyblue;
}


@media screen and (min-width: 500px) and (max-width: 1400px) {
    .child-5, .child-6 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .child-1, .child-2, .child-5, .child-4, .child-6 {
        display: none;
    }
}


